@use "../../styles/base";

.logo__text {
  color: #F15125;
  font-family: 'Segoe UI';
}

.nav__link {
  font-family: 'Segoe UI';
}

.navbar__toggle {
  border: none;
}

.navbar__toggle:focus {
  box-shadow: none;
}

.nav-dropdown__title {
  
}