@import '../../styles/base/base';

.personalProfile {
  background-color: $global-white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;

  .title {
    color: $primary-color;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .description {
    color: $global-black;
    font-size: 16px;
  }
}