@use "../../styles/base";

.error-with-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  flex-direction: column;
  @include base.media-breakpoint-up(sm) {
    flex-direction: row;
  }
}

.error-image {
  max-width: 50%;
}

.error-message {
  max-width: 70%;
}
