@use "../../styles/base";
$btn-font-color: #FFFFFF;

@mixin btn-styles ($darker) {
    color: $btn-font-color;

    @if $darker == true { 
        background-color: base.$primary-dark-color;
        border-color: base.$primary-dark-color;   
    } @else {
        background-color: base.$primary-color;
        border-color: base.$primary-color;
    }
}

.btn-primary {
    @include btn-styles($darker: false);

    &:hover {
        @include btn-styles($darker: true);
    }

    // NEED TO COMPARE SPECIFICITY 
    :not(.btn-check)+&:active {
        @include btn-styles($darker: true);
    }

    // NEED TO COMPARE SPECIFICITY 
    :not(.btn-check)+&:focus-visible {
        @include btn-styles($darker: true);
    }
}

.btn-plain {
    color: #0D6EFD;
    padding: 0;
}

.btn-card {
    width: 8em;
    font-size: 12px;

    @include base.responsive(xs) {
        width: 7em;
        font-size: 17px;
    }

}

.badge-bg {
    background-color: base.$decorating-color;
}