// RESPONSIVE BREAKPOINTS
// NEED TO REFACTOR WITH BOOTSTRAP MIXIN IN THE FUTURE
@use 'sass:map';

// SAME AS BOOTSTRAP DEFAULT
$breakpoints: (
  xs: 375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@mixin responsive($media) {
  @if $media ==xs {
    @media screen and (min-width: map.get($breakpoints, 'xs')) {
      @content;
    }
  }

  @else if $media ==sm {
    @media screen and (min-width: map.get($breakpoints, 'sm')) {
      @content;
    }
  }

  @else if $media ==md {
    @media screen and (min-width: map.get($breakpoints, 'md')) {
      @content;
    }
  }

  @else if $media ==lg {
    @media screen and (min-width: map.get($breakpoints, 'lg')) {
      @content;
    }
  }

  @else if $media ==xl {
    @media screen and (min-width: map.get($breakpoints, 'xl')) {
      @content;
    }
  }

  @else if $media ==xxl {
    @media screen and (min-width: map.get($breakpoints, 'xxl')) {
      @content;
    }
  }
}